$colors: (
    button_color: #ffffff,
    button_font_color: #d4d4d4,
);
$sizes: (
    mobile: 540px,
    tablet: 1000px,
    hd: 1500px,
);
.ups-filter{
    margin: 1em;
    .filterCloser {
        display: none;
        width: 100%;
        text-align: right;
        color: map-get($map: $colors, $key: button_font_color);
        @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
            display: block;
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
            display: block;
        }
    }
    .radioBox {
        ul {
            margin: 0;
            padding: 0;
        }
        .label {
            &> ul {
                display: flex;
                justify-content: space-between;
            }
            button {
                color: map-get($map: $colors, $key: button_font_color);
            }
            &.active + .values {
                display: block;
            }
        }
        .values {
            display: none;
            &> ul {
                ul {
                    display: flex;
                }
            }
        }
    }
    
}