$colors: (
    text_color: #ffffff,
    services_background: #d4d4d4,
);
$sizes: (
    mobile: 540px,
    tablet: 1000px,
    hd: 1500px,
);

.about {
    text-align: center;
    color: map-get($map: $colors, $key: text_color);
    padding-top: calc(35px + 1rem + 1rem);
    .main {
        position: relative;
        z-index: 0;
        .text {
            padding: 1em 0 0 0;
            &> p {
                padding: 2em;
                margin: 0;
            }
        }
        .background-image {
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            z-index: -1;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                width: 150%;
                left: -25%;
            }
        }
    }
    .services {
        &> p {
            padding: 1em;
            margin: 0;
        }
        position: relative;
        z-index: 0;
        background: map-get($map: $colors, $key: services_background);
        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            .cell {
                flex: 0 0 25%;
                position: relative;
                z-index: 1;
                height: 15em;
                .text {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                    height: 100%;
                    p {
                        margin: 0;
                        font-size: 1.5em;
                    }
                }
                .image {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.6);
                    }
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: hd)) {
                    flex: 3 1 30%;
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
                    flex: 2 1 50%;
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                    flex: 1 1 100%;
                }
            }
        }
    }
}