$colors: (
    content_color: #ffffff,
);
$calc: (
    header_height: calc(35px + 1rem + 1rem),
    elem_100: calc( 100% - (35px + 1rem + 1rem) ),
);
$sizes: (
    mobile: 540px,
    tablet: 1000px,
    hd: 1500px,
);
.products {
    padding-top: map-get($map: $calc, $key: header_height);
    background: map-get($map: $colors, $key: content_color);
}