$colors: (
    content_color: #ffffff,
    filters_color: #666666,
    filters_font_color: #d4d4d4,
    search_text_color: #ffffff,
    no_results_font_color: #8d8d8d,
    loader_color: #ffffff,
);
$calc: (
    header_height: calc(35px + 1rem + 1rem),
    elem_100: calc( 100% - (35px + 1rem + 1rem) ),
    loader_margin_left: calc(100px + 4em),
);
$sizes: (
    mobile: 540px,
    tablet: 1000px,
    hd: 1500px,
);

.products {
    padding-top: map-get($map: $calc, $key: header_height);
    display: flex;
    z-index: 1;
    position: relative;
    .filters {
        z-index: 1;
        color: map-get($map: $colors, $key: filters_font_color);
        background: map-get($map: $colors, $key: filters_color);
        @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
            position: fixed;
            display: none;
            overflow: auto;
            height: map-get($map: $calc, $key: elem_100);
        }
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
            position: fixed;
            display: none;
            overflow: auto;
            height: map-get($map: $calc, $key: elem_100);
        }
        &.active {
            @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
                display: block;
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: block;
            }
        }
    }
    .content {
        width: 100%;
        background: map-get($map: $colors, $key: content_color);
        position: relative;
        .count {
            font-size: 1.5em;
            padding: 1em;
            &> ul {
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: space-between;
                align-items: center;
            }
            button {
                width: 2.5em;
                height: 2.5em;
                padding: 0;
            }
            hr {
                margin: 0.2em 0;
            }
            .search-text {
                button {
                    width: 100%;
                    height: auto;
                    font-size: 0.5em;
                    background: map-get($map: $colors, $key: filters_color);
                    color: map-get($map: $colors, $key: search_text_color);
                    padding: 0.2em 1em;
                    border-radius: 1em;
                    margin: 0.5em;
                }
            }
            .filter-button {
                display: none;
                @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
                    display: block;
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                    display: block;
                }
            }
        }
        .listing{
            padding: 1em;
            .no-results {
                text-align: center;
                .icon {
                    font-size: 10em;
                    color: map-get($map: $colors, $key: filters_color);
                    padding: 0.1em;
                }
                p {
                    font-size: 1em;
                    color: map-get($map: $colors, $key: no_results_font_color);
                }
            }
        }
        &.fade {
            animation: fade-in 1s 0s forwards;
        }
        animation: fade-out 1s 0s forwards;
        @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
            width: auto;
        }
    }
    .filter-closer-div {
        padding-top: map-get($map: $calc, $key: header_height);
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: map-get($map: $calc, $key: elem_100);
        top: 0;
        left: 0;
        .loader {
            margin-left: map-get($map: $calc, $key: loader_margin_left);
            opacity: 0;
            font-size: 2em;
            color: map-get($map: $colors, $key: loader_color);
            &.load {
                animation: loader 1s 0s forwards;
            }
        }
        &.active {
            @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .goto-top {
        position: fixed;
        color: map-get($map: $colors, $key: filters_font_color);
        background: map-get($map: $colors, $key: filters_color);
        bottom: 0;
        right: 0;
        padding: 1em;
        margin: 1em;
        border-radius: 0.5em;
        border: 1px solid map-get($map: $colors, $key: filters_font_color);
        animation: move-in 1s 0s forwards;
        &.inactive {
            animation: move-out 1s 0s forwards;
        }
    }
    @media only screen and (max-width: map-get($map: $sizes, $key: tablet)) {
        display: block;
    }
    @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
        display: block;
    }
}

@keyframes fade-in {
    0% {filter: blur(0)}
    100% {filter: blur(1em)}
}
@keyframes fade-out {
    0% {filter: blur(1em)}
    100% {filter: blur(0)}
}
@keyframes loader {
    0% {opacity: 0; transform: rotate(0deg)}
    50% {opacity: 1; transform: rotate(360deg)}
    100% {opacity: 0; transform: rotate(0deg)}
}
@keyframes move-in {
    0% {bottom: -6em}
    100% {bottom: 0}
}
@keyframes move-out {
    0% {bottom: 0}
    100% {bottom: -6em}
}