$colors: (
    body_color: #d4d4d4,
    primary: rgb(245, 223, 24),
    text_color: #5e5e5e,
);
$sizes: (
    mobile: 540px,
);

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: map-get($map: $colors, $key: body_color);
    .logo {
        ul {
            .logo-li {
                width: 4rem;
            }
        }
    }
    .menu {
        margin: 0 2em 0 0;
        .menu-bars {
            padding: 0.5rem 1rem;
            display: none;
            margin: 1em 0;
            div {
                width: 1.5em;
                height: 0.1em;
                background: map-get($map: $colors, $key: text_color);
                &:nth-child(2) {
                    margin: 0.4em 0;
                }
            }
            &.active  {
                div {
                    &:nth-child(1) {
                        position: absolute;
                        animation: move-down 1s 0s 1 forwards;
                    }
                    &:nth-child(even) {
                        animation: anti-clockwise 1s 500ms 1 forwards;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 1.5em;
                            height: 0.1em;
                            background: map-get($map: $colors, $key: text_color);
                            animation: clockwise 1s 500ms 1 forwards;
                        }
                    }
                    &:nth-child(3) {
                        position: absolute;
                        animation: move-up 1s 0s 1 forwards;
                    }
                }
                &+ .menu-items {
                    display: block;
                }
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: block;
            }
        }
        .menu-items {
            ul {
                display: flex;
                padding: 0;
                background: map-get($map: $colors, $key: body_color);
                li {
                    padding: 0.5rem 1rem;
                    border-bottom: 1px solid transparent;
                    a {
                        color: map-get($map: $colors, $key: text_color);
                    }
                    &:hover {
                        border-bottom: 1px solid map-get($map: $colors, $key: text_color);
                    }
                }
                @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                    display: block;
                }
            }
            @media only screen and (max-width: map-get($map: $sizes, $key: mobile)) {
                display: none;
                position: absolute;
                right: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
}
@keyframes clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}
@keyframes anti-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-45deg); }
}
@keyframes move-down {
    0% { margin-top: 0; opacity: 1; }
    100% { margin-top: 0.5em; opacity: 0; }
}
@keyframes move-up {
    0% { margin-top: 0; opacity: 1; }
    100% { margin-top: -0.5em; opacity: 0; }
}